.fwc-card-generic {
  border: solid 1px rgba(var(--color-rgb-black), 0.1);
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

.fwc-card-generic.hover:hover {
  box-shadow: 0 0 20px 0 rgba(215, 222, 227, 0.39), 0 26px 90px 0 rgba(51, 60, 70, 0.3);
}

.fwc-card-generic.flat {
  box-shadow: none;
}
