.fwc-badge {
  font-size: calc(1.25 * var(--fwcu));
  text-align: center;
  padding: calc(0.5 * var(--fwcu)) var(--fwcu);
  color: var(--color-white);
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: calc(0.25 * var(--border-radius));
  font-weight: 700;
  display: inline-block;
  line-height: 1;
}

.fwc-badge.info {
  background-color: var(--color-alert-info);
}
.fwc-badge.success {
  background-color: var(--color-alert-success);
}
.fwc-badge.warning {
  background-color: var(--color-alert-warning);
}
.fwc-badge.urgent {
  background-color: var(--color-alert-error);
}
.fwc-badge.gray {
  background-color: var(--color-gray-five);
}
.fwc-badge.white {
  background-color: var(--color-white);
}

.fwc-badge.warning,
.fwc-badge.gray,
.fwc-badge.white {
  color: var(--color-gray-one);
}
